<% provide :title, t(".title") %>
<h1><%= t ".welcome" %></h1>
<p>
  <%= link_to t("rails_tutorial_name"), Settings.links.rails_tutorial_jp %>
  <%= t ".first_intro" %>
  <%= link_to t("ruby_on_rails"), Settings.links.ruby_on_rails %>.
  <%= t ".second_intro" %>.
</p>
